<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-split-pane contentId="main" where="xl">
    <ion-list>
      <ion-item>
        <ion-label>chart type</ion-label>
        <ion-select value="bar" interface="popover" placeholder="bar" (ionChange)="test($event)">
          <ion-select-option value="bar">Bar Chart</ion-select-option>
          <ion-select-option value="line">Line Chart</ion-select-option>
          <ion-select-option value="pie">Pie Chart</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>


    <ion-router-outlet id="main">
      <ion-list-header color="light">Vertical Bar Chart</ion-list-header>
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle>
          <ion-card-title>Game of Thrones</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #barChart></canvas>
        </ion-card-content>
      </ion-card>
    </ion-router-outlet>
  </ion-split-pane>
  
</ion-content>