<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <div class="volume-card">
          <ion-card>
            <ion-card-header>
              Package Overview
            </ion-card-header>

            <ion-card-content>
              <div class="volume-container">
                <div class="raw-div1">
                  <h2>
                    High
                  </h2>  
                  <h1 id="high"></h1>
                </div>

                <div class="raw-div2">
                  <h2>
                    Low
                  </h2>
                  <h1 id="low"></h1>
                </div>
                
                <div class="raw-div3">
                  <h2>
                    Average
                  </h2>
                  <h1 id="average"></h1>
                </div>
                
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      
      
      <ion-col size="7">
        <ion-card id="filtered-card" class="filtered-card">
          <ion-card-header>
            Filtered Data
          </ion-card-header>

          <ion-card-content>
            <div>
              <ion-button (click)="excelDataFilter()">
                <ion-icon name="cloud-download-outline"></ion-icon>                
              </ion-button>

              
            </div>
           
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">

      <div class="chart">
        <ion-card class="chart-card">
          <div class="chart-filters-wrapper">
            <div>
              <ion-card-header>
                Filters
              </ion-card-header>
            </div>

            

            <div>
              <ion-button class="filter" (click)="packageFilter()">Package</ion-button>
            </div>

            <div>
              <ion-button class="filter" (click)="courierFilter()">Courier</ion-button>
            </div>

            <div>
              <ion-button class="filter" (click)="recipientFilter()">Recipient</ion-button>
            </div>
            
            <div>
              <ion-item lines="none">
                <ion-select value="bar" interface="popover" placeholder="bar" (ionChange)="changeChartType($event)">
                  <ion-select-option value="bar">Bar Chart</ion-select-option>
                  <ion-select-option value="line">Line Chart</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </div>

          <ion-card-content class="chart-card-content">
            <!-- chart display -->
              <div class="chart-display">
                <canvas #barChart></canvas>
                
              </div>

              
            </ion-card-content>

            <!-- chart times -->
            <div class="chart-time-container">
                
              <div class="chart-time">
                <ion-button fill="clear" (click)="oneDay()" id="one-day-filter"> 
                  1d
                </ion-button>
              </div>
              <div class="chart-time">
                <ion-button fill="clear" (click)="oneWeek()">
                  1w
                </ion-button>
              </div>
              
              <div class="chart-time">
                <ion-button fill="clear" (click)="oneMonth()">
                  1m
                </ion-button>
              </div>
              <div class="chart-time" >
                <ion-button fill="clear" (click)="threeMonths()">
                  3m
                </ion-button>
              </div>
              <div class="chart-time">
                <ion-button fill="clear" (click)="currentYear()">
                  1y
                </ion-button>
              </div>
              <div class="chart-time">
                <ion-button fill="clear" (click)="yearToDate()">
                  ytd
                </ion-button>
              </div>
              <div class="chart-time">
                <ion-button fill="clear" (click)="maxData()">
                  max
                </ion-button>
              </div>
              <div class="chart-time">
                <ion-button fill="clear" (click)="customDates()">
                  custom
                </ion-button>
              </div>
              

              

            </div>

          </ion-card>
        </div>
  
         
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
